<mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <div fxFlex=" 49%">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Issue title">
            </mat-form-field>
        </div>

        <div fxFlex="49%">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Issue subtitle">
            </mat-form-field>
        </div>

        <div fxFlex="100%">
            <mat-form-field appearance="outline">
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(fruit)">
                        {{fruit.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New item..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>
        </div>

        <div fxFlex="100%">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>

        <div fxFlex="100%">
            <img *ngFor='let url of images' mat-card-md-image id="image" [src]="url" alt="">
        </div>

        <div fxFlex="100%">
            <button mat-raised-button color="primary" (click)="fileInput.click()">
                Select file <mat-icon>attach_file</mat-icon>
                <input #fileInput type="file" (change)="onFileInput($event)" multiple="multiple"
                    style="display:none;" />
            </button>
        </div>

        <div fxFlex="65%">
            <mat-form-field appearance="outline">
                <input matInput placeholder="step">
            </mat-form-field>
        </div>

        <div fxFlex="30%" fxLayoutAlign="start center">
            <button mat-raised-button color="primary">
                Add steps
            </button>
        </div>

        <div fxFlex="30%">
            <button mat-raised-button color="primary">
                submit
            </button>
            &nbsp;
            <button mat-raised-button color="warn">
                Cancel
            </button>
            &nbsp;
            <button mat-raised-button color="accent">
                Reset
            </button>
        </div>
    </div>
</mat-card>