<div [class]="myTheme" style="position:absolute;top:0;left:0;right:0;bottom:0;">

  <mat-sidenav-container fullscreen>

    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="10%">
        <span class="mat-display-3">FAQ</span>
      </div>
      <div fxFlex="10%">
        <img src="assets/images/faq.svg" style="height: 30px;" alt="">
      </div>
      <div fxFlex="60%">
        <mat-form-field appearance="outline" class="search">
          <input matInput placeholder="You are looking for ?">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex="10%" fxLayoutAlign="center center">
        <button mat-icon-button>
          <mat-icon matBadge="8">notifications</mat-icon>
        </button>
      </div>
      <div fxFlex>
        <button mat-button [routerLink]='["add"]'>
          Add new FAQ
        </button>
      </div>
      <div fxFlex>
        <button mat-raised-button color="primary">
          Sign In
        </button>
      </div>
      <div fxFlex="10%" fxLayoutAlign="center center">
        <mat-slide-toggle (change)="toggleTheme()"></mat-slide-toggle>
      </div>
    </div>



    <router-outlet (activate)="onActivate($event)"></router-outlet>

    <app-scrolltop></app-scrolltop>

    <!-- <div>




      <mat-card>
        <mat-card-title>
          FAQ
        </mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>

          field
          is a component used to wrap several Angular Material components and apply common Text field
          styles such
          as the underline, floating label, and hint messages.
          In this document, "form field" refers to the wrapper component and "form field control" refers
          to the
          component that the is wrapping (e.g. the input, textarea, select, etc.)

        </mat-card-content>
      </mat-card>


      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary" (click)="OpenSnackbar()">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>

    </div> -->
  </mat-sidenav-container>

</div>