 

.comment{
    width: 100%;
}

.mat-card-md-image{
    cursor: pointer;
}


mat-accordion{
    width:300px;
}

mat-expansion-panel{
    margin: 0.5em auto;
}

mat-card{
    margin-bottom: 15px;
}

.status{
height: 10px;
width: 10px;
border-radius: 10px;
}


.online{    
 background-color: #70f170;
}

.offline{
    background-color: #ceb719;
}

.away{
    background-color: orange;
}