<div fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="15%" style="position: fixed;left: 15px;">

        <mat-list role="list">
            <mat-list-item role="listitem">
                <span class="mat-display-2">Cash Tile : 52 </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="mat-display-2">Cash OBO : 22 </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="mat-display-2">Blotter : 05 </span>
            </mat-list-item>
        </mat-list>

        <span class="mat-display-1">filter content</span>

        <mat-selection-list #shoes>
            <mat-list-option *ngFor="let shoe of typesOfShoes">
                {{shoe}}
            </mat-list-option>
        </mat-selection-list>



    </div>

    <div fxFlex="60%" fxLayoutAligh="center center" style="margin-left: 15%;">
        <mat-card *ngFor="let faq of faqs">

            <mat-card-header>
                <mat-card-title>{{faq.faqTitle}}</mat-card-title>

                <mat-card-subtitle>
                    {{faq.faqSubTitle}}
                </mat-card-subtitle>

                <img mat-card-avatar [src]="faq.addby" matTooltip="Added by Ranjeet" alt="">

                <span style="flex: 1 1 auto;"></span>


                <button mat-icon-button matTooltip="Bookmark this solution">
                    <mat-icon>bookmark</mat-icon>
                </button>

                <div>
                    <img mat-card-avatar src="assets/status/solved.png" alt="">
                </div>


            </mat-card-header>

            <mat-card-content>
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                    <div fxFlex="80%" id="images">
                        <img mat-card-md-image (click)="viewImage()" *ngFor="let attachment of faq.attachments"
                            id="image" [src]="attachment.errorImg" alt="">
                    </div>

                    <div fxFlex="100%">

                        <mat-label>Description :</mat-label>

                        <p>
                            {{faq.description}}
                        </p>
                    </div>

                    <div fxFlex="100%">

                        <span class="mat-display-1" style="text-underline-position: below;"> Solution :</span>

                        <p>
                            {{faq.description}}
                        </p>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-footer>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div fxFlex="60%">
                        <mat-list>
                            <mat-list-item *ngFor="let comment of faq.comments">
                                <img matListAvatar [src]="comment.profile" alt="...">
                                <h3 matLine> {{comment.name}} </h3>
                                <p matLine>
                                    <mat-label> {{comment.comment}} </mat-label>
                                    <!-- <span class="demo-2"> -- {{message.content}} </span> -->
                                </p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>

            </mat-card-footer>

            <mat-card-actions>
                <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div fxFlex="100%">
                        <button mat-icon-button>
                            <mat-icon>thumb_up_alt</mat-icon>
                        </button>

                        <mat-label>{{faq.likes}}</mat-label>

                        <button mat-icon-button>
                            <mat-icon>thumb_down_alt</mat-icon>
                        </button>

                        <mat-label>{{faq.dislikes}}</mat-label>
                    </div>
                    <div fxFlex="60%">
                        <mat-form-field appearance="outline" class="comment">
                            <input matInput placeholder="Comment">
                        </mat-form-field>
                    </div>

                    <div fxFlex="15%">
                        <button mat-stroked-button color="primary">Comment
                            <mat-icon>comment</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="23%" fxLayoutAlign="start start" style="position: fixed;right: 20px;">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let user of users">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <img mat-card-avatar [src]="user.profile" alt="..." matBadge="4">
                    </mat-panel-title>
                    <mat-panel-description>
                        {{user.name}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list role="list" style="margin-top: 5px;">
                    <mat-list-item role="listitem">
                        <span class="mat-display-1">Cash Tile : 52 </span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <span class="mat-display-1">Cash OBO : 22 </span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <span class="mat-display-1">Blotter : 05 </span>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>

        <!-- <mat-list>
            <mat-list-item *ngFor="let user of users">
                <img matListAvatar [src]="user.profile" alt="..." matBadge="4">
                <h3 matLine>{{user.name}}</h3>
                <p matLine>
                    <span>{{user.designation}}</span>
                    <span class="demo-2"> Content</span>
                </p>
            </mat-list-item>
        </mat-list> -->
    </div>
</div>