@import '~@angular/material/theming';
// always include only once per project
@include mat-core();
// import our custom themes
@import './themes/my-theme.scss';
@import './themes/my-light-theme.scss';
@import './themes/my-dark-theme.scss';

 $custom-typography:mat-typography-config(
     $font-family: 'Comic Sans MS',
     $headline: mat-typography-level(18px, 48px, 700),
     $body-1: mat-typography-level(14px, 24px, 500),
     $button: mat-typography-level(12px, 16px, 500),  
     $input: mat-typography-level(14px, 1.25, 400),       
 );

 @include mat-core($custom-typography);

.my-theme {
    @include angular-material-theme($my-theme);    
}

// additional css classes
// you can hardcode one of them on the <body> tag 
// or switch dynamically during runtime with [class]
.my-light-theme {
    @include angular-material-theme($my-light-theme);    
}

.my-dark-theme {
    @include angular-material-theme($my-dark-theme);
}